<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendedor</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/emprendedor.css}">
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <a th:href="@{/administrador}">
                <img th:src="@{/images_desing/Logo (2).png}" alt="logo">
            </a>
        </div>
        <div class="titulo">
            <h1><span class="yellow">Panel</span> <span class="green">administrador</span></h1>
        </div>
        <div class="iconos">
            <a th:href="@{/login}" class="nav-icon user-icon">
                <i class="fas fa-user"></i>
            </a>
            <button class="menu-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
</header>

<section class="background">

    <!-- HEADER DEL PANEL -->
    <div class="header-panel">
        <div class="bienvenida">
            <h2>
                <span class="yellow">¡Bienvenido</span>

            </h2>


        </div>
        <div class="boton-gestionar">
            <a class="yellow-a" th:href="@{/productos}">Gestionar negocio</a>
        </div>
    </div>

    <!-- AREA DE PRODUCTOS -->
    <div class="productos-panel">
        <div class="carts" th:if="${productos != null}">
            <div class="product-card" th:each="producto:${productos}">
                <img class="card-img-top"
                     th:src="@{/images/{img} (img=${producto.imagen})} " alt="">
                <div class="card-body">
                    <p class="card-text" th:text="${producto.nombre}">Nombre producto</p>
                </div>
                <div class="card-footer">
                    <a href="productohome.html" class="btn-ver-producto">Ver producto</a>
                </div>
            </div>
        </div>
        <p th:if="${productos == null}" class="no-products">No hay productos registrados</p>
    </div>

</section>

</body>
</html>
