<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring eCommerce - Crear Producto</title>

    <!-- Estilos propios -->
    <link rel="stylesheet" th:href="@{/css/productos.css}">
    <link rel="stylesheet" th:href="@{/css/admin-base.css}" />
</head>

<body>

<!-- Navigation -->
<nav class="nav">
    <form class="nav-search" method="post" action="#">
        <input type="search" name="nombre" placeholder="Buscar..." autocomplete="off" />
        <button type="submit">Buscar</button>
    </form>

    <div class="nav-dropdown">
        <button class="dropbtn">ADMIN ▼</button>
        <div class="dropdown-content">
            <a th:href="@{/productos}">Productos</a>
            <a href="#">Cerrar sesión</a>

        </div>
    </div>
</nav>
</div>

<!-- Contenido -->
<div class="container">
    <h1 class="page-title">Spring eCommerce <small>Productos</small></h1>

    <ol class="breadcrumb">
        <li><a th:href="@{/administrador}">Home</a></li>
        <li class="active">Crear Productos</li>
    </ol>

    <h2 class="form-title">Crear Producto</h2>

    <form class="form" th:action="@{/productos/save}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" placeholder="Ingrese la descripción del producto" required autocomplete="off"></textarea>
        </div>

        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad del producto" required autocomplete="off">
        </div>

        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" step="any" id="precio" name="precio" placeholder="Ingrese el precio del producto" required autocomplete="off">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-success">Guardar</button>
        </div>

    </form>
</div>

<!-- Footer -->

    <footer class="footer">
        <p>Copyright &copy; Spring eCommerce 2025</p>
    </footer>


</body>
</html>
