<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring eCommerce - Editar Producto</title>

    <!-- Estilos -->
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" th:href="@{/css/admin-base.css}" />
</head>
<body>

<!-- Header -->
<nav>
    <div class="logo">
        <a th:href="@{/templates/admin}">
            <img th:src="@{/images_desing/Logo (2).png}" alt="logo">
        </a>
    </div>
    <div class="titulo">
        <h1><span class="yellow">Panel</span> <span class="green">administrador</span></h1>
    </div>
    <div class="iconos">
        <a th:href="@{/login}" class="nav-icon user-icon">
            <i class="fas fa-user"></i>
        </a>
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<!-- Contenido principal -->
<main class="contenido">

    <!-- CUADRO BLANCO -->
    <div class="cuadro-blanco">
        <h1 class="titulo-cuadro">Editar Producto</h1>

        <form class="form-producto" th:action="@{/productos/update/{id}(id=${producto.id})}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${producto.id}" />

            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto"
                       required autocomplete="off" th:value="${producto.nombre}" />
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" placeholder="Ingrese la descripción del producto"
                          required autocomplete="off" th:text="${producto.descripcion}"></textarea>
            </div>

            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad"
                       required autocomplete="off" th:value="${producto.ubicacion}" />
            </div>

            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" step="any" id="precio" name="precio" placeholder="Ingrese el precio"
                       required autocomplete="off" th:value="${producto.precio}" />
            </div>

            <div class="form-group">
                <label  class="control-label col-sm-2" for="img">Imagen:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control-file" id="img" name="img">
                </div>

            </div>

            <div class="form-actions">
                <button type="submit" class="btn-guardar">Guardar</button>
            </div>
        </form>
    </div>

</main>

<!-- Footer -->
<div th:include="admin/template_admin.html::footer"></div>

</body>
</html>
