<!-- templates/administrador/template_admin.html -->
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Header -->
<div th:fragment="header">
    <nav class="nav">
        <div class="nav-logo">
            <a th:href="@{/administrador}">BlueCore</a>
        </div>


        <form class="nav-search" method="post" action="#">
            <input type="search" name="nombre" placeholder="Buscar..." autocomplete="off" />
            <button type="submit">Buscar</button>
        </form>

        <div class="nav-dropdown">
            <button class="dropbtn">ADMIN ▼</button>
            <div class="dropdown-content">
                <a th:href="@{/productos}">Productos</a>
                <a href="#">Cerrar sesión</a>

            </div>
        </div>
    </nav>
</div>

<!-- Footer -->
<div th:fragment="footer">
    <footer class="footer">
        <p>Copyright &copy; Bluecore 2025</p>
    </footer>
</div>

</body>
</html>
